@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

*{
  font-family: 'Roboto Slab', serif;
}

.pageNotFound{
  width:100%;
  height: 100vh;
}

.link a{
  text-decoration: none;
  margin-left: 20px;

}
.link a:hover{
  color:brown;
}
.nav-link a{
  text-decoration:  none;
  margin-left: 30px;
  color: whitesmoke;
  
} 
.drop{
  margin-left: 10px;
  margin-top: -6px;
  

}
.dashboard{
  display: flex;
  justify-content: space-around;
  text-decoration: none;

}