@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: .98rem;
  box-sizing: border-box;
  
}
body{
  color:rgb(72, 82, 93);
}

.pageNotFound{
  width:100%;
  height: 100vh;
}

.link a{
  text-decoration: none;
  margin-left: 20px;

}
.link a:hover{
  color:brown;
}
.nav-link a{
  text-decoration:  none;
  margin-left: 30px;
  color: whitesmoke;
  
} 
.drop{
  margin-left: 10px;
  margin-top: -6px;
  

}
.dashboard{
  display: flex;
  justify-content: space-around;
  text-decoration: none;

}
.manageTaskNav 
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
  
}
.manageTaskNav a
{ 
  text-decoration: none;
  color: rgb(93, 190, 190);
}
.btnPresentation
{
  background-color: rgba(4, 77, 145, 0.861);
  border: 1px solid white;
  margin: 5px;
  padding: 8px;
  color: white;
  font-size: small;
  font-style: normal;
  
}
.divPresentation
{
  margin: 20px;
}
table
{
  border-collapse: collapse;
  text-align: center;
  border: 1.5px solid rgb(181, 181, 181);
}
th,td{width:150px;}
tr:nth-child(even){background-color: rgba(128, 128, 128, 0.211);}
th,td{border: 2px solid rgb(181, 181, 181);padding: 8px;}
td{font-size: small;}
#table1{background-color:rgba(170, 8, 8, 0.828); color:white ; padding: 8px;}

<<<<<<< HEAD
.topic{padding: 50px;}
.topics{padding:50px; position:absolute; right:410px; bottom:262px; border: 1px solid gray;}
=======
.nav-link:enabled{
  
  border: 1px solid black;
  border-bottom: 1px solid white;
}
li,ul{
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 8%;

}
ul p{
  align-items: center;
  text-align: center;
}
li select{
  padding: 10px;
  width: 250px;
  border: 1px solid lightgray;
}

.row{
  display: flex;
  flex-direction: row;
  
}
tbody{
  background-color: rgb(204, 255, 225);
}
tbody td{
  border: .2px solid rgb(220, 220, 220);
  
}
table{
  width: 100%;
}
>>>>>>> a9fba518ade1d14f7e08407a26930eda78a71959
