@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: .98rem;
  box-sizing: border-box;
  
}
body{
  color:rgb(72, 82, 93);
}

.pageNotFound{
  width:100%;
  height: 100vh;
}

.link a{
  text-decoration: none;
  margin-left: 20px;

}
.link a:hover{
  color:brown;
}
.nav-link a{
  text-decoration:  none;
  margin-left: 30px;
  color: whitesmoke;
  
} 
.drop{
  margin-left: 10px;
  margin-top: -6px;
  

}
.dashboard{
  display: flex;
  justify-content: space-around;
  text-decoration: none;

}

.manageTaskNav 
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
  
}
.manageTaskNav a
{ 
  text-decoration: none;
  color: rgb(93, 190, 190);
}
.btnPresentation
{
  background-color: rgba(4, 77, 145, 0.861);
  border: 1px solid white;
  margin: 5px;
  padding: 8px;
  color: white;
  font-size: small;
  font-style: normal;
  
}
.divPresentation
{
  margin: 20px;
}
table
{
  border-collapse: collapse;
  text-align: center;
  border: 1.5px solid rgb(181, 181, 181);
}
th,td{width:150px;}
tr:nth-child(even){background-color: rgba(128, 128, 128, 0.211);}
th,td{border: 2px solid rgb(181, 181, 181);padding: 8px;}
td{font-size: small;}
#table1{background-color:rgba(170, 8, 8, 0.828); color:white ; padding: 8px;}


.topic{padding: 50px;}
.topics{padding:50px; position:absolute; right:410px; bottom:262px; border: 1px solid gray;}

.nav-link:enabled{
  
  border: 1px solid black;
  border-bottom: 1px solid white;
}
li,ul{
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 8%;

}
ul p{
  align-items: center;
  text-align: center;
}
li select{
  padding: 10px;
  width: 250px;
  border: 1px solid lightgray;
}

.row{
  display: flex;
  flex-direction: row;
  
}
tbody{
  background-color: rgb(204, 255, 225);
}
tbody td{
  border: 0.2px solid rgb(220, 220, 220);
  
}


form{
  text-align:start;
  border: 1px solid;
  width: 420px;
  height: 1100px;
  padding: 20px;
  background-color: white;
}
.app1
{
  position: relative;
  
  display: flex;
   justify-content: center;
}
p{
  font-size: 12px;
}
input{
   width: 350px;
   height: auto;
   background-color: whitesmoke;
   border-style: none;
   padding: 7px;

}
.selection
{
  width: 350px;
  height: 40px;
  margin: 10px 0px;
  background-color: whitesmoke;
  border-style: none;
}
h1{
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 10;
  color: teal;
 }
 .checkBox
 {
   width: 50px;
   height: 15px;
 }
 img{
   width: 200px;
   height: 200px;
 }
 body{
   background-color:#3e383e;
 }
 .back
 {
   display: inline-block;
   width: 80px;
   height: 40px;
   background-color: whitesmoke;
   color: black;
   border-style: none;
   
 }
 .submit
 {
   position: relative;
   left: 185px;
   width: 80px;
   height: 40px;
   background-color: teal;
   color: white;
   border-style: none;
 }
 .input1
 {
   margin: 5px;
 }
 .imagelogo
 {
   display: flex;
   justify-content: center;
   
 }
 .imageMain
 {
   width: 500px;
 }
 .signup
 {
   background-color: rgb(45, 44, 44);

 }
 .userHeading{
   text-align: start;
   color: rgb(135, 133, 133);
 }
.userNav{
  color: rgb(246, 245, 245);
  border: 0px solid rgb(236, 219, 219);
}
.userDashboard{
  position: relative;
  bottom: 10px;
}
.userManage{
  position: relative;
  bottom: 10px;
}
.userDashboard:hover{
  border-bottom: 0.1px solid whitesmoke;
}
.userManage:hover{
  border-bottom: 0.1px solid whitesmoke;
}
.userApp-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}
.userTable {
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}
.user-td,.user-th{
  border: 1px solid #ffffff;
  text-align: start;
  padding: 10px;
  font-size: 32px;
}
.user-th{
  background-color: rgb(117, 201, 250);
}
.user-td{
  background-color: rgb(205, 235, 253);
}
.user-Form{
  display: flex;
  gap: 5px;
}
/* .user-Form .user-td:last-child{
  display: flex;
  justify-content: space-evenly;
} */
.user-Form *{
  font-size: 20px;
}
.table-responsive {
  margin: 2px 0;
}
.table-wrapper {
min-width: 1000px;
  background: #fff;
  padding: 5px;        
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
  padding-bottom: 5px;
  margin: 0 0 2px;
}
.row h1 {
  margin: 5px 0 0;
  font-size: 40px;
  text-align: start;
  border: 0px solid rgb(249, 190, 190);
}
.search-box {
  position: relative;        
  float: right;
}
.search-box input {
  height: 34px;
  border-radius: 20px;
  padding-left: 35px;
  border-color: #ddd;
  box-shadow: none;
}
.search-box input:focus {
border-color: #3FBAE4;
}
.search-box i {
  color: #a0a5b1;
  position: absolute;
  font-size: 20px;
  /* top: 8px; */
  left: 10px;
}
